<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <h1></h1>
    <div>
        <form method="POST" id="login-form">
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" value="<%= email %>" required/>
            </div>
            <div>
                <label for="password"><%= __('Password')%></label>
                <input type="password" name="password" id="password" required/>
            </div>
            <div> 
                <input class="btn" type="submit" value="Login">
            </div>
          </form>
    </div>
    <% if (error) { %>
      <div class='error'><%= error %></div>
    <% } %>
  </body>
</html>
