body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cont-ad{
  background-color: rgb(237, 236, 236);
  padding: 20pt;
  margin: 10pt;
  border-radius: 15pt;
}

img {
  width: 100%;
  border-radius: 15pt;
}